In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'/Users/binodrai/Downloads/50_Startups (1).csv')

In [5]:
df.head(5)

,R&D Spend,Administration,Marketing Spend,State,Profit,Nature
0,165349.20,136897.80,471784.10,New York,192261.83,Good
1,162597.70,151377.59,443898.53,California,191792.06,Bad
2,153441.51,101145.55,407934.54,Florida,191050.39,Very Good
3,144372.41,118671.85,383199.62,New York,182901.99,Good
4,142107.34,91391.77,366168.42,Florida,166187.94,Bad

In [9]:
Stat_counts = df['State'].value_counts()

In [10]:
State_counts

State
New York      17
California    17
Florida       16
Name: count, dtype: int64

In [11]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
Nature              object
dtype: object

In [14]:
pd.get_dummies(df['State'],drop_first=True).astype(int).head(10)

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0
5        0         1
6        0         0
7        1         0
8        0         1
9        0         0